<img src="https://cdn.shopify.com/s/files/1/2628/2624/files/otr_LogoGreenLG_d58d374a-38fc-4041-9e5a-22ee68586cdd.png?v=1630529030" width="140px" style="margin-bottom: 20px; margin-top: 10px;">
<p style="font-size: 12px;">We equip you with the power to perform advanced diagnostics easier and faster than ever before.<br><br>
  <a href="tel:5867994375"><strong>Call Us:</strong> <button class="btn-otr mb-2" style="font-size: 13px;">(586) 799-4375</button></a><br>
</p>
